li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
}

.header_logo img {
  width: 40%;
}

.header_nav_list {
  display: flex;
  text-align: right;
}

.header_nav_item {
  margin-right: 30px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

/*firstview*/
.firstview {
  position: relative;
  margin-bottom: 0px;
}

.firstview img {
  padding: 0;
  width: 100%;
  height: 600px;
  margin-bottom: 0px;
}

.firstview_content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 25%;
  color: white;
  line-height: 50px;
}

.firstview_content_title {
  font-size: 50px;
}

/*firstview2*/
.firstview2 {
  background-color: black;
  color: white;
  margin-top: -10px;
  padding: 50px;
  height: 200px;
}

.firstview2_content_title {
  font-size: 30px;
  line-height: 70px;
}

.firstview2__content_d {
  font-size: 20px;
  line-height: 30px;
}

/*service*/

.service {
  padding: 80px 0;
  margin: 0 30px;
}

.service_title {
  text-align: center;
  font-size: 40px;
}

.service_content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.service1 {
  width: 49%;
  margin-top: 20px;
  margin-right: 10px;
  line-height: 30px;
}

.service1_img img {
  width: 100%;
  height: auto;
}

.service_d {
  font-weight: bold;
  font-size: 18px;
}

.service_link {
  margin: 40px auto 0;
  display: block;
  width: 300px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #cd0224;
  color: #fff;
  text-decoration: none;
}

/*news*/
.news {
  background-color: black;
  padding: 80px 0;
}

.news1 {
  width: 85%;
  margin: 0 auto;
}

.news1_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news1_head_title {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.news1_head_btn {
  width: 160px;
  font-size: 14px;
  padding: 7px;
  display: block;
  text-align: center;
  font-weight: bold;
  background-color: #cd0224;
  color: white;
  text-decoration: none;
}

.news1_list {
  margin-top: 20px;
}

.news1_list_item {
  display: block;
  margin-top: 10px;
}

.news1_item_link {
  background-color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
  margin: 0;
}

.news1_item_link_date {
  margin-right: 10px;
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

.news1_item_link_d {
  font-weight: bold;
}

/*blog*/
.blog {
  padding: 80px 0;
  width: 85%;
  margin: 0 auto;
}

.blog_title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.blog_content {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.blog_link {
  width: 32%;
  margin-right: calc((100% - (32% * 3)) / 2);
}

.blog_link img {
  width: 100%;
  height: auto;
}

.blog_link_item_date {
  margin-top: 5px;
  margin-right: 20px;
  font-size: 14px;
}

.blog_link_item_d {
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  line-height: 30px;
  color: black;
}

.blog_link_btn {
  display: block;
  width: 300px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #cd0224;
  color: #fff;
  margin: 40px auto 0;
  text-decoration: none;
}

/*company*/
.company {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 80px 0;
}

.company_item {
  width: 50%;
}

.company_item_link1 {
  display: inline-block;
  width: 100%;
  line-height: 10;
  text-align: center;
  background-color: #cd0224;
  margin: 0;
  padding: 0;
  color: white;
}

.company_item_link2 {
  display: inline-block;
  width: 100%;
  line-height: 10;
  text-align: center;
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
}

/*contact*/
.contact {
  background-color: #f5f6f9;
  text-align: center;
  padding: 80px 0;
}

.contact_content {
  width: 85%;
  margin: 0 auto;
}

.contact_content_title {
  font-size: 30px;
  font-weight: bold;
}

.contact_content_d {
  margin-top: 10px;
}

.contact_content_link {
  width: 300px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #cd0224;
  color: white;
  margin: 40px auto 0;
  text-decoration: none;
  line-height: 100px;
}

/*footer*/
.footer {
  padding: 20px 0;
  color: #fff;
  background-color: #222;
}

.footer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  width: 85%;
  margin: 0 auto;
}

.footer1_navi_list {
  display: flex;
}

.footer1_navi_list {
  margin-right: 40px;
  list-style: none;
  text-decoration: none;
  color: white;
}

.footer1_navi_list a {
  color: white;
}

.footer1_navi_list a:after {
  content: "|";
  display: inline-block;
  padding: 0 10px;
}

.footer1_navi_list :last-child :after {
  content: "";
}

/*humberger*/
/*ここから下がハンバーガーメニューのスタイル*/
.drawer-nav {
  display: none;
}
@media screen and (max-width: 768px) {
.header_nav {
  display: none;    
}
.drawer-nav {
  display: block;
}

/*メニューボタン　展開前*/
.menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.menu-line-top,
.menu-line-middle,
.menu-line-bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;}

.menu-line-top {
    top: 0;
  }

  .menu-line-middle {
    top: 14px;
  }

  .menu-line-bottom {
    bottom: 0;
  }

/*メニューボタン　展開後*/
  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }

  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }

  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }

/*スマホ用のメニュー*/
  .drawer-nav{
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background: #fff;
    transition: .7s;
  }

  .drawer-nav-list {
    padding-top: 80px;
    text-align: center;
  }

  .drawer-nav-item {
    margin-top: 40px;
    color: #0033cc;
    font-size: 18px;
  }

  .in {
    transform: translateX(100%);
  }
}